/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-may-2015, 10:46:38
    Author     : Michel Jongbloed
*/

#feed-spinner {
    height: 50px; /*hight of the spinner gif +2px to fix IE8 issue */
    left: 50%;
    margin-left: -25px; /* half width of the spinner gif */
    margin-top: -25px; /* half height of the spinner gif */
    overflow: auto;
    position: fixed;
    text-align:center;
    top: 20%;
    width: 50px; /* width of the spinner gif */
    z-index:1234;
}

div.field-table-row-wrapper:nth-child(2n) {
    background-color: #f5f5f5;
}

div.field-table-row-wrapper {
    display: block;
    padding-bottom: 5px;
}

div.filter-wrapper {
    margin-top: 5px;
}

aside.action-btn {
    margin-left: 8px;
}

.small-text {
    width: 15px;
}

.field-level {
   clear: both;
}

.value-options-condition-selector {
    margin-left: 400px;
}

.value-options-query-selector {
    margin-bottom: 15px;
    margin-left: 37%;
    width: 65%
}

select.select-value-options {
    height: 27px;
    vertical-align: initial;
}

select.align-left {
    float: left;
}

.condition-and-value-selector {
    margin-left: 5px;
}

div.condition-wrapper {
    float: left;
    line-height: 26px;
    margin-bottom: 15px;
    width: 100%;
}

div.source-data-column {
}

div.change-source-value-wrapper {
    margin-left: 16%;
    background-color: #e2e2e2;
    float: left;
    padding: 15px;
    width: 81%;
}

th#main-feed-input-label {
    width: 32%;
}

th#main-feed-input-label label {
    display: inline-block;
}

div.edit-value-control {
    float: right;
    margin: -50px 10px;
}

div.add-to-feed-column {
    margin-top: 4px;
}

div.header-wrapper {
    padding-bottom: 10px;
}

div.field-header-wrapper {
   background-color: white;
   height: 30px;
   margin-bottom: 10px;
}

div.field-header {
   float: left;
   margin-bottom: 8px;
   padding: 5px;
}

.col10w {
    width: 10%;
}

.col30w {
   width: 30%;
}

.col20w {
    width: 16%;
}

.col40w {
   width: 40%;
}

.col55w {
    width: 55%;
}

.col80w {
    width: 82%;
}

.condition-selector {
    width:55%;
}

div#category-mapping-header {
    left: 15px;
    position: relative;
}

div.allproducts {
}

div.source-selector {
    margin-right: 6%;
}

div.wppfm-feedback {
    float: right;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

div.wppfm-feedback a:link {
    color: #4D8C0F;
    text-decoration: none;
}

div.wppfm-feedback a:visited {
    color: #555;
    text-decoration: none;
}

div.wppfm-feedback a:hover {
    color: #3C3;
    text-decoration: none;
}
div.links-wrapper {
    padding-bottom: 10px;
}

table.fm-category-mapping-table th {
    font-weight: 700;
    padding: 9px;
}

table.fm-category-mapping-table {
    clear: none;
    display: table;
    float: right;
    height: 280px;
    overflow-y: scroll;
    width: 59%;
}

table.fm-category-mapping-table td#shop-category {
    color: #0073aa;
    cursor: auto;
    font-size: 14px!important;
    font-weight: 600;
    padding-left: 2px;
}

table.fm-category-mapping-table th#shop-category-selector {
    vertical-align: top;
    width: 2.2em;
}

td.channel-tile {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
    max-width: 340px;
    min-width: 250px;
    vertical-align: top;
}

img.channel-thumbnail {
    border: none;
    max-width: 300px;
    width: 100%;
}

div.channel-inner {
    margin: 20px;
}

div.channel-version {
    background-color: #eee;
    border: 1px solid #dadada;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #424242;
    display: block;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 6px;
}

div#outdated {
    color: red;
}

div.product-filter-condition-wrapper {
    float: right;
    font-size: 16px;
    margin-top: 20px;
    width: 59%;
}

table.fm-category-mapping-table thead, table.fm-category-mapping-table tbody {
    float: left;
    width: 100%;
}

table.fm-category-mapping-table tbody {
    height: 280px;
    overflow-y: scroll;
}

table.fm-category-mapping-table tr:nth-child(2n) td, table.fm-category-mapping-table tr:nth-child(2n) th {
    background-color: #fcfcfc;
}

thead.fm-category-mapping-titels th {
    font-weight: 400;
}

thead.fm-category-mapping-titels tr {
    width: 98%!important;
}

table.fm-category-mapping-table td:first-child {
    width: 16%;
}

table.fm-category-mapping-table tr {
    display: table;
    text-align: left;
    width: 100%;
}

table.feed-main-input-table {
    float: left;
    width: 40%;
}

table.feed-main-input-table th {
    padding-right: 0;
    width: 40%;
}

table.feed-main-input-table input {
    width: 90%;
}

table.feed-main-input-table input#aggregator, table.feed-main-input-table input#variations {
    width: 10px;
}

table.feed-main-input-table select {
    width: 90%;
}

.message-field {
    font-size: 16px;
    margin: 20px 0 3px 0;
}

#disposible-warning-message {
    margin: 20px 0 3px 0;
}

button#disposible-notice-button {
    position: relative;
}

.full-screen-message-field p {
    color: red;
    font-size: 17px;
    margin: 20px 0 3px 0;
}

span.output-field-label {
   background-color: #2ea2cc;
   border-radius: 3px;
   color: white;
   margin-top: 4px;
   padding: 4px 10px;
}

div.colw {
    float:left;
    padding: 5px;
}

div.col2w {
   float: left;
   padding: 10px 2px;
   width: 20%;
}

div.col1w {
   width: 13%;
}

div.edit-values-row {
    float: left;
    margin: 20px 10px 10px 30px;
    width: 80%;
}

div.end-row {
   clear: both;
}

div.field-table-row {
    height: 20px;
}

div.field-table-row-edit-source {
    clear: both;
    float: left;
}

div.field-table-row-combined-selection {
    left: -181px;
    line-height: 26px;
    margin: 5px;
    position: relative;
    width: 680px;
}

div.combined-wrapper {
    line-height: 26px;
    width: 100%;
}

div.or-selector {
    line-height: 26px;
    margin-top: 30px;
    width: 120%;
}

div.dotted-top-line {
    border-top-style: dashed;
    border-top-color: #ccc;
    border-top-width: 1px;
    margin-top: 20px;
}

span.combined-field-row {
    clear: left;
    float: left;
}

input#add-new-feed-button {
    clear: both;
    float: left;
    margin-top: 15px;
}

input.free-category-text-input {
    width: 90%;
}

div.button-wrapper {
    clear: both;
}

.button-primary {
    margin-right: 5px!important;
}

a.channel-button {
    margin-right: 5px!important;
}

a.wppfm-btn-small {
    font-size: 13px;
}

div#footer-wrapper {
    bottom: 11px;
    margin-top: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

div.select-control {
    float: left;
    margin: 0px;
    vertical-align: top;
}

div.static-value-control {
    float: left;
}